@page
@model DotNetCoreExample.Pages.WiproModel
@{
    ViewData["company"] = "Wipro";
    ViewData["Name"] = "Manju";

}
<p>Company name is : <b>@ViewData["company"] </b></p>
<p>Name is : <b>@ViewData["Name"]</b></p>